.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 10rem;
}

.background-color {
  background-color: greenyellow;
}

.transform-left {
  transform: rotate(0.5turn);
}

.transform-right {
  transform: rotate(turn);
}

.transform-down {
  transform: rotate(0.25turn);
}

.transform-up {
  transform: rotate(0.75turn);
}
